<!doctype html>
<html>
  <head>
    <title><%=shopName%> Add Books</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Add Books</h1>
    <form method="POST" action="/bookadded">
      <p>Book Name: <input id="name" name="name" type="text" value="" placeholder="Book Name" /></p>
      <p>Price: <input id="price" name="price" type="text" value="" placeholder="0.00"></p>
      <input type="submit" value="Add book" />
    </form>
    <p><a href="/">Home</a></p>
  </body>
</html>
